body {
    font-family: 'Montserrat', serif;
    padding-bottom: 50px;
}

h1 {
    font-size: 45px;
    text-align: center;
}

h2 {
    font-size: 35px;
    text-align: center;
}

form {
    font-size: 30px;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

td {
    padding: 15px;
}

.file {
    font-size: 20px;
    margin: 20px;
    width: 300px;
}

.submit {
    font-size: 20px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 10px;
}

.start-end {
    background-color: orange;
}

.disabled {
    background-color: gray;
}

.regular {
    background-color: white;
}

.highlight {
    background-color: limegreen;
}